<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HangMan</title>
    <!---##################################### SCRIPTS/STYLES ##################################-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/scss/prefix-main.css" type="text/css">
    <link rel="icon" href="../static/img/hang.ico" type="image/ico"> <!--https://www.iconfinder.com/search/?q=hanging&price=free-->
</head>
<!-- image credit <a href="https://www.freepik.com/free-photo/black-background_1200051.htm">Designed by Freepik</a> -->
<body class="background-image">
   {% block content %}
   {% endblock %}
</body>
</html>