<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HangMan</title>
      <!---##################################### SCRIPTS/STYLES ##################################-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="../static/scss/prefix-main.css" type="text/css">
     <link rel="icon" href="../static/img/hang.ico" type="image/ico">
     <script defer src="../static/js/scripts/main.js"></script>
</head>
<body class="background-image">
    <div class="container-fluid">
        <header class="row">
            <div class="col title">
                <h1 class="title__text-game title__text-game--style">HANGMAN.</h1>
            </div>
        </header>
    </div>
    <div class="container-fluid">
        <nav class="row nav-container">
            <div class="col nav__user">
                <h2 class="nav__user-message">Hello: {{ username }}.</h2> 
            </div>
            <div class="col nav__top-scores">
                <a id="top-scores" class="nav__top-scores-link" href="/{{ username }}/scores">Top Scores.</a>
            </div>
            <div class="col nav__logout">
                <a id="log-out" class="nav__logout-link" href="{{ url_for('index') }}">Log Out.</a>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col generate">
                <button id="generate" class="generate__button--style" value="{{ username }}"> ( GET WORD )</button>
            </div>
        </div>
    </div>
    <div class="container guess-container">
        <div class="row">
            <div class="col guess">
                <form id="guess-form">
                    {% for letter in alphabet %}
                    <button class="guess-form__button" id="guess-button-{{ letter }}" value="{{ letter }}" data-letter="{{ letter }}">{{ letter }}</button>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-3 score">
                <p class="score__text">Score: <span id="score">{{ score }}</span></p>
            </div>
            <div class="col-xs-12 col-lg-6 guesses">
                <p id="word" class="guesses__dash"></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
            <div class="col image">
                <div id="" class="image__image"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row win">
            <div class="col win__message">
                <p class="win__text" id ="result-message"></p>
            </div>
        </div>
    </div>
</body>
</html>

