{% block content %}

<div class="row">
    <div class="col guesses">
        <p class="guesses__dash">{% for i in display_correct_guess %}{{ i }} {% endfor %}</p>
    </div>
</div>

{% if current_score == None %}
<div class="row">
    <div class="col score">
        <p class="score__text">Score: 0 </p>
    </div>
</div>

{% else %}
<div class="row">
    <div class="col score">
        <p class="score__text">Score: {{ current_score }}</p>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col">
        <div id= "{{ image_id }}"></div>
    </div>
</div>

{% if win_message == None %}
<div class="row">
    <div class="col win">
        <p></p>
    </div>
</div>
<p></p>
{% else %}
<div class="row win">
    <div class="col win__message">
        <p class="win__text">{{ win_message }}</p>
    </div>
</div>
{% endif %}

{% if lose_message == None %}
<div class="row">
    <div class="col">
        <p></p>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col lose">
        <p class="lose__text">{{ lose_message }}</p>
    </div>
</div>
{% endif %}

{% endblock %}