<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HangMan</title>
</head>
<body>
    <h1>HANGMAN</h1>
    <form id = "username-form" method="POST">
        <input type="text" placeholder="username" id="username" name="username"></input>
        <button>GO TO GAME!</button>     
    </form>
    <p>{{ username_taken }}</p>
</body>

</html>