{% extends 'base.html' %}
{% block content %}
<!-- image credit <a href="https://www.freepik.com/free-photo/black-background_1200051.htm">Designed by Freepik</a> -->
<div class="container-fluid ">
    <header class="row">
        <div class="col d-sm-none title">
            <h1 class="title__text-mobile title__text--style">HANG<br>MAN.</h1>
        </div>
        <div class="col d-none d-sm-block ">
            <h1 class="title__text-desktop title__text--style">HANGMAN.</h1>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <p class="user-instructions">Enter your name:</p>
            <form class="input-form input-form--style" id = "username-form" method="POST">
                <input class="input-form__input input-form__input--style" type="text" placeholder="username" id="username" name="username" value="">
                <button id="play" class="input-form__button input-form__button--style">( PLAY )</button>     
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <p class="user-instructions">{{ username_message }}</p>
        </div>
    </div>
</div>
{% endblock %}

