<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HangMan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/scss/prefix-main.css" type="text/css">
    <link rel="icon" href="../static/img/hang.ico" type="image/ico">
    <script defer src="../static/js/scripts/main.js"></script>
</head>
<body class="background-image">
    <header class="container-fluid">
        <div class="row">
            <div class="col title ">
                <h1 class="title__text-game title__text-game--style">LeaderBoard</h1>
            </div>
        </div>
    </header>
    <nav class="container-fluid">
        <div class="row nav-container">
            <div class="col nav__user">
                <p class="nav__user-message">Hello: {{ username }}.</p>
            </div>
            <div class="col nav__back-to-game">
                <a id="back-to-game" class="nav__back-to-game-link" href="{{ url_for('user', username=username) }}">Back to Game.</a>
            </div>
            <div class="col nav__logout">
                <a id="log-out" class="nav__logout-link" href="{{ url_for('index') }}">Log Out.</a>
            </div>
        </div>
    </nav>
    <section class="container-fluid">
        <div class="row">
            <div class="col leaderboard-container">
                <table class="leaderboard">
                    <tr class="leaderboard__table--headings">
                        <th class="leaderboard__table--left-header">Name</th>
                        <th class="leaderboard__table--right-header">Score</th>
                    </tr>
                    {% for i in top_scores %}
                    <tr class="leaderboard__table--data">
                        <td class="leaderboard__table--left-data">{{ i[0] }}</td>
                        <td class="leaderboard__table--right-data">{{ i[1] }}</td>
                    </tr>
                    {% endfor %}   
                </table>
            </div>
        </div>
    </section>
</body>
</html> 