<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HangMan | Scores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    <script src="static/main.js"></script>
    <link rel="stylsheet" href="static/main.css" type="text/css">
</head>
<body>
    <h1>LeaderBoard</h1>
    <p>You are logged in as {{ username }}</p>
    <a href="{{ url_for('index') }}">Log Out</a>
    <h2>Top Scores</h2>
    <table>
        <tr>
            <th>Username</th>
            <th>Score</th>
        </tr>
        {% for i in top_scores %}
        <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
        </tr>
        {% endfor %}   
    </table>
</body>
</html> 