
@import 'helpers/fonts';
@import 'helpers/mixins';

//------------- EXTENDS ------------------//

%message-text-shared {

    font-family: $text-font;
    font-size: 1.0rem;
    color: #fff;
    text-align: center;

}

//------------- GLOBALS -------------------//
body, html {

    height: 100%;
    margin: 0;
       
}

a:hover {

    color: #fff;
    text-decoration: none;
}
//------------ LOGIN PAGE --------------------//
.title__text-mobile {

    text-align: center;
    font-family: $title-font;
    color: #fff;
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
   
}

.title__text-desktop {

    text-align: center;
    font-family: $title-font;
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
   
    @include tablet {

        font-size: 5.5rem;
        margin-bottom: 4.5rem;
        margin-top: 5.5rem;
    }

    @include desktop {

        font-size: 7.5rem;
    }
}

.background-image {
    height:100%;
    background: url("../img/OT8PER0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

//.mask {

    //height:inherit;
    //background-color: #0006;
    ///background-size: cover;
    ///background-repeat: no-repeat;
//height: inherit;

//}

.input-form {

    display: flex;
    justify-content: center;
    align-items: center;

}

.input-form__input {

    height: 3rem;
    width: 9rem;
    //padding-bottom: 0.3rem;

    @include desktop {

       // height: 3rem;
        width: 12rem;
       // padding-bottom: 0rem;
    }

}

.input-form__input--style {

    font-family: $text-font, sans-serif;
    color: #fff;
    background-color: #fff0;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.5rem;
    
    @include desktop {

        font-size: 2.0rem;
    }
}

.input-form__button {

    padding-left: 1rem;

}

.input-form__button--style {

    font-family: $text-font;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    background-color: #fff0;

    @include desktop {

        font-size: 2.5rem;
    }
    
}

.user-instructions {

    font-family: $text-font;
    text-align: center;
    color: #ffffff;
    font-size:1.5rem;
    margin-top: 0.5rem;

    @include tablet {

        margin-top: 2.0rem;
    }

    @include desktop {

        font-size:2.0rem;
    }
    
}

.title-divider {

    width: 50vw;
    background-color: #fffdfd33;
    margin-top: 0;
    height: 0.5;
}

//------------- GAME PAGE -------------------//

.title__text-game {

    text-align: center;
    font-family: $title-font;
    color: #fff;
    font-size: 3.0rem;
    margin-bottom: 0rem;
    margin-top: 1.5rem;

    @include tablet{

        font-size: 5rem;
    }

    @include desktop {

        font-size: 3rem;
    }

    @include large {

        font-size: 4rem;
    }
}

.nav-container {

    margin-top: 1rem;

    @include tablet {

        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    @include desktop {

        margin-top: 1rem;
        margin-bottom:1rem;
    }
}

.nav__user, .nav__top-scores {

    display: flex;
    align-items: center;
    //justify-content: center;
    //margin-top: 1.5rem;
    @include tablet {

        //justify-content: center;
        //margin-top: 2rem;
    }

}

.nav__top-scores {

    //margin-bottom: 1.0rem;
    //margin-top: 1.0rem;
    justify-content: right;
   // margin-right: 0rem;

    @include tablet {
    justify-content: right;
    margin-right: 3rem;

    }
}

.nav__top-scores-link { 

    text-align: left;
    font-family: $title-font;
    color: #fff;
    font-size: 1.0rem;
   

    @include tablet {

        font-size: 2rem;
        //justify-content: right;
    }

    @include desktop {

        font-size: 1.5rem;
    }

}
.nav__user {

    justify-content: left;

    @include tablet {
    justify-content: left;
    padding-left: 3rem;
}
}

.nav__user-message {

    text-align: left;
    font-family: $title-font;
    color: #fff;
    font-size: 1.0rem;
    margin-bottom: 0;

    @include tablet {

        font-size: 2rem;
    }

    @include desktop {

        font-size: 1.5rem;
    }

}


.guess-container {

    max-width: 100vw;

    @include tablet {

        max-width: 36rem;
    }

    @include desktop {

        max-width: 100vw;
    }
}
.generate {

    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    
}

.generate__button--style {

    font-family: $text-font;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    background-color: #fff0;

    @include tablet {

        font-size: 2.5rem;
    }

    @include desktop {

        font-size: 2rem;
    }
}

.guess {

    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}
.guess-form__button {

    font-family: $text-font;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    background-color: #fff0;

    @include tablet {

        font-size: 2.5rem;
    }

    @include desktop {

        font-size: 2rem;
    }
}

.word-info__text {

    //padding-left: 0.5rem;
    @extend %message-text-shared;
    @include tablet {

        font-size: 1.5rem;
    }

}

.word-info__number {

    @extend %message-text-shared;
    font-size: 2.0rem;

}

.score__text {

    @extend %message-text-shared;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 0;

    @include tablet {

        font-size: 1.5rem;
        padding-left: 2rem;
    }

    @include large {

        font-size: 2rem;
    }
}

.win__text {

    @extend %message-text-shared;
    font-size: 1.2rem;

    @include tablet {

        font-size: 1.5rem;

    }

}

.lose__text {

    @extend %message-text-shared;
    font-size: 1.2rem;

    @include tablet {
        
        font-size: 1.5rem;

    }
}


//.hangman-image {

    
//}


.guesses {

    justify-content: center;
}

.guesses__dash {

    font-family: $text-font;
    font-size: 2.0rem;
    color: #fff;
    text-align: center;
    @include tablet {

        font-size: 3rem;
    }

    @include desktop {

        margin-bottom: 0;
        font-size:2rem;
    }

    @include large {

        font-size: 3rem;
    }
    
}

#image_1 {

    background: url("../img/image_1.png");
    @include hangman-image;

}

#image_2 {

    background: url("../img/image_2.png");
    @include hangman-image;
}

#image_3 {

    background: url("../img/image_3.png");
    @include hangman-image;
}

#image_4 {

    background: url("../img/image_4.png");
    @include hangman-image;
}

#image_5 {

    background: url("../img/image_5.png");
    @include hangman-image;
}

#image_6 {

    background: url("../img/image_6.png");
    @include hangman-image;
}

#image_7 {

    background: url("../img/image_7.png");
    @include hangman-image;
}

#image_8 {

    background: url("../img/image_8.png");
    @include hangman-image;
}

#image_9 {

    background: url("../img/image_9.png");
    @include hangman-image;
}

#image_10 {

    background: url("../img/image_10.png");
    @include hangman-image;
}

/*------------------ SCORES PAGE ----------------------*/

.leaderboard-container {

    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.leaderboard__heading {

    text-align: center;
    font-family: $text-font;
    color: #fff;
    font-size: 4.0rem;
}

.leaderboard__table--headings {

    text-align: center;
    font-family: $text-font;
    color: #fff;
    font-size: 2.0rem;

    @include large {

        font-size: 3rem;
    }
}

.leaderboard__table--data {

    text-align: center;
    font-family: $text-font;
    color: #fff;
    font-size: 1.5rem;

    @include large {
        
        font-size: 2rem;
    }
    
}

.leaderboard {

    width: 15rem;
    height: 25rem;
    margin-top: 1rem;
    padding-bottom: 2rem;

    @include tablet {

        margin-top: 2rem;
    }
    @include large {

        width: 25rem;
        height: 25rem;
        margin-top: 2.5rem;
       
    }
    
}

.leaderboard__table--headings {

    border-bottom: 1px solid #fff;
}

.leaderboard__table--left-data {

    border-right: 1px solid #fff;
    width: 50%;
}

.leaderboard__table--right-data {

    //border-right: 1px solid #fff;
    width: 50%;
}

.leaderboard__table--left-header, 
.leaderboard__table--right-header {

    width: 50%;
}


.nav__back-to-game {

    //margin-bottom: 1.0rem;
    display: flex;
    justify-content: center;

    @include tablet {
    justify-content: center;
    padding-left: 3rem;
}
}

.nav__back-to-game-link {

    text-align: center;
    font-family: $title-font;
    color: #fff;
    font-size: 1.0rem;
    margin-bottom: 0;

    @include tablet {

        font-size: 2rem;
    }

    @include desktop {

        font-size: 1.5rem;
    }
}



.nav__logout {
    display: flex;
    //margin-bottom: 1.0rem;
    //margin-top: 1.0rem;
    justify-content: right;

    @include tablet {
    //justify-content: right;
    padding-left: 3rem;
}

}



.nav__logout-link {

    text-align: right;
    font-family: $title-font;
    color: #fff;
    font-size: 1.0rem;
    margin-bottom: 0;

    @include tablet {

        font-size: 2rem;
        padding-right: 3rem;
    }

    @include desktop {

        font-size: 1.5rem;
    }
}
