
@import 'helpers/fonts';
@import 'helpers/mixins';
//------------- GLOBALS -------------------//
body, html {

    height: 100%;
    margin: 0;
       
}

a:hover {

    color: #fff;
    text-decoration: none;
}
//------------ LOGIN PAGE --------------------//
.title__text-mobile {

    text-align: center;
    font-family: $title-font;
    color: #fff;
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
   
}

.title__text-desktop {

    text-align: center;
    font-family: $title-font;
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
   
    @include tablet {

        font-size: 5.5rem;
        margin-bottom: 4.5rem;
        margin-top: 5.5rem;
    }

    @include desktop {

        font-size: 7.5rem;
    }
}



.background-image {
    height:100%;
    background: url("../img/OT8PER0-optim.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.mask {

    height:100%;
    background-color: #0006;

}

.input-form {

    display: flex;
    justify-content: center;
    align-items: center;

}

.input-form__input {

    height: 2rem;
    width: 9rem;

    @include desktop {

        width: 12rem;
    }

}
.input-form__input--style {

    font-family: $text-font, sans-serif;
    color: #fff;
    background-color: #fff0;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.5rem;
    
    @include desktop {

        font-size: 2.0rem;
    }
}

.input-form__button {

    padding-left: 1rem;

}

.input-form__button--style {

    font-family: $text-font;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    background-color: #fff0;

    @include desktop {

        font-size: 2.5rem;
    }
    
}

.user-instructions {

    font-family: $text-font;
    text-align: center;
    color: #ffffff;
    font-size:1.5rem;
    margin-top: 0.5rem;

    @include tablet {

        margin-top: 2.0rem;
    }

    @include desktop {

        font-size:2.0rem;
    }
    
}

.title-divider {

    width: 50vw;
    background-color: #fffdfd33;
    margin-top: 0;
    height: 0.5;
}

//------------- GAME PAGE -------------------//

.title__text-game {

    text-align: center;
    font-family: $title-font;
    color: #fff;
    font-size: 3.0rem;
    margin-bottom: 0rem;
    margin-top: 1.5rem;
}

.user, .scores {

    display: flex;
    align-items: center;
    justify-content: center;
}
.user__message {

    text-align: left;
    font-family: $title-font;
    color: #fff;
    font-size: 1.0rem;
    margin-bottom: 1.0rem;
    margin-top: 1.0rem;

}

.scores__link { 

    text-align: left;
    font-family: $title-font;
    color: #fff;
    font-size: 1.0rem;
    margin-bottom: 1.0rem;
    margin-top: 1.0rem;

}

.generate {

    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.generate__button--style {

    font-family: $text-font;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    background-color: #fff0;
}

.guess {

    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}
.guess-form__button {

    font-family: $text-font;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    background-color: #fff0;
}

/*.word-info {

    display: flex;
    justify-content: center;

}*/

%message-text-shared {

    font-family: $text-font;
    font-size: 1.0rem;
    color: #fff;
    text-align: center;

}

.word-info__text {

    //padding-left: 0.5rem;
    @extend %message-text-shared;

}

.word-info__number {

    @extend %message-text-shared;
    font-size: 2.0rem;

}

.score__text {

    @extend %message-text-shared;
    font-size: 1.2rem;
    text-align: left;
}

.win__text {

    @extend %message-text-shared;
    font-size: 1.2rem;

}

.lose__text {

    @extend %message-text-shared;
    font-size: 1.2rem;

}


.hangman-image {

    height:30rem;
    width: 100%;
}

.guesses {

    justify-content: center;
}

.guesses__dash {

    font-family: $text-font;
    font-size: 2.0rem;
    color: #fff;
    text-align: center;
    
}

#image_0 {

    background: url("../img/image_1.png");
    @include hangman-image;

}

#image_1 {

    background: url("../img/image_2.png");
    @include hangman-image;
}

#image_2 {

    background: url("../img/image_3.png");
    @include hangman-image;
}

#image_3 {

    background: url("../img/image_4.png");
    @include hangman-image;
}

#image_4 {

    background: url("../img/image_5.png");
    @include hangman-image;
}

#image_5 {

    background: url("../img/image_6.png");
    @include hangman-image;
}

#image_6 {

    background: url("../img/image_7.png");
    @include hangman-image;
}

#image_7 {

    background: url("../img/image_8.png");
    @include hangman-image;
}

#image_8 {

    background: url("../img/image_9.png");
    @include hangman-image;
}

#image_9 {

    background: url("../img/image_10.png");
    @include hangman-image;
}