@font-face {
  font-family: 'KGSecondChancesSketch';
  src: url("../fonts/KGSecondChancesSketch.ttf"); }
@font-face {
  font-family: 'DJB Chalk It Up';
  src: url("../fonts/DJB Chalk It Up.ttf"); }
body, html {
  height: 100%;
  margin: 0; }

a:hover {
  color: #fff;
  text-decoration: none; }

.title__text-mobile {
  text-align: center;
  font-family: "KGSecondChancesSketch", sans-serif;
  color: #fff;
  font-size: 4.5rem;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem; }

.title__text-desktop {
  text-align: center;
  font-family: "KGSecondChancesSketch", sans-serif;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem; }
  @media (min-width: 767px) {
    .title__text-desktop {
      font-size: 5.5rem;
      margin-bottom: 4.5rem;
      margin-top: 5.5rem; } }
  @media (min-width: 991px) {
    .title__text-desktop {
      font-size: 7.5rem; } }

.background-image {
  height: 100%;
  background: url("../img/OT8PER0-optim.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.mask {
  height: 100%;
  background-color: #0006; }

.input-form {
  display: flex;
  justify-content: center;
  align-items: center; }

.input-form__input {
  height: 2rem;
  width: 9rem; }
  @media (min-width: 991px) {
    .input-form__input {
      width: 12rem; } }

.input-form__input--style {
  font-family: "DJB Chalk It Up", sans-serif, sans-serif;
  color: #fff;
  background-color: #fff0;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.5rem; }
  @media (min-width: 991px) {
    .input-form__input--style {
      font-size: 2.0rem; } }

.input-form__button {
  padding-left: 1rem; }

.input-form__button--style {
  font-family: "DJB Chalk It Up", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  background-color: #fff0; }
  @media (min-width: 991px) {
    .input-form__button--style {
      font-size: 2.5rem; } }

.user-instructions {
  font-family: "DJB Chalk It Up", sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 0.5rem; }
  @media (min-width: 767px) {
    .user-instructions {
      margin-top: 2.0rem; } }
  @media (min-width: 991px) {
    .user-instructions {
      font-size: 2.0rem; } }

.title-divider {
  width: 50vw;
  background-color: #fffdfd33;
  margin-top: 0;
  height: 0.5; }

.title__text-game {
  text-align: center;
  font-family: "KGSecondChancesSketch", sans-serif;
  color: #fff;
  font-size: 3.0rem;
  margin-bottom: 0rem;
  margin-top: 1.5rem; }

.user, .scores {
  display: flex;
  align-items: center;
  justify-content: center; }

.user__message {
  text-align: left;
  font-family: "KGSecondChancesSketch", sans-serif;
  color: #fff;
  font-size: 1.0rem;
  margin-bottom: 1.0rem;
  margin-top: 1.0rem; }

.scores__link {
  text-align: left;
  font-family: "KGSecondChancesSketch", sans-serif;
  color: #fff;
  font-size: 1.0rem;
  margin-bottom: 1.0rem;
  margin-top: 1.0rem; }

.generate {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }

.generate__button--style {
  font-family: "DJB Chalk It Up", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  background-color: #fff0; }

.guess {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem; }

.guess-form__button {
  font-family: "DJB Chalk It Up", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  background-color: #fff0; }

/*.word-info {

    display: flex;
    justify-content: center;

}*/
.word-info__text, .word-info__number, .score__text, .win__text, .lose__text {
  font-family: "DJB Chalk It Up", sans-serif;
  font-size: 1.0rem;
  color: #fff;
  text-align: center; }

.word-info__number {
  font-size: 2.0rem; }

.score__text {
  font-size: 1.2rem;
  text-align: left; }

.win__text {
  font-size: 1.2rem; }

.lose__text {
  font-size: 1.2rem; }

.hangman-image {
  height: 30rem;
  width: 100%; }

.guesses {
  justify-content: center; }

.guesses__dash {
  font-family: "DJB Chalk It Up", sans-serif;
  font-size: 2.0rem;
  color: #fff;
  text-align: center; }

#image_0 {
  background: url("../img/image_1.png");
  background-repeat: repeat;
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#image_1 {
  background: url("../img/image_2.png");
  background-repeat: repeat;
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#image_2 {
  background: url("../img/image_3.png");
  background-repeat: repeat;
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#image_3 {
  background: url("../img/image_4.png");
  background-repeat: repeat;
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#image_4 {
  background: url("../img/image_5.png");
  background-repeat: repeat;
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#image_5 {
  background: url("../img/image_6.png");
  background-repeat: repeat;
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#image_6 {
  background: url("../img/image_7.png");
  background-repeat: repeat;
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#image_7 {
  background: url("../img/image_8.png");
  background-repeat: repeat;
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#image_8 {
  background: url("../img/image_9.png");
  background-repeat: repeat;
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }

#image_9 {
  background: url("../img/image_10.png");
  background-repeat: repeat;
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; }

/*# sourceMappingURL=main.css.map */
