// FONTS //
@font-face {

    // http://www.fontspace.com/kimberly-geswein/kg-second-chances-solid
    font-family: 'KGSecondChancesSketch';
    src: url('../fonts/KGSecondChancesSketch.ttf');
}

@font-face {
// http://www.fontspace.com/darcy-baldwin-fonts/djb-chalk-it-up //
    font-family: 'DJB Chalk It Up';
    src: url('../fonts/DJB Chalk It Up.ttf');
}

$title-font:'KGSecondChancesSketch', sans-serif;
$text-font: "DJB Chalk It Up", sans-serif;